.topHeader {
    padding-left: 8px;
    font-size: 18px;
    color: rgb(59, 59, 59);
}

.middleSection {
    padding-top: 20px;
}

#buttonDesign {
    background-color: #0178d6;
    padding: 10px 15px 10px 15px;
    color: white;
    border: none;
    border-radius: 3px;
}
#formTab {
    padding: 7px 15px 7px 15px;
}

#middleButton {
    background-color: #0178d6;
    padding: 10px 15px 10px 15px;
    margin-right: 10px;
    color: white;
    border: none;
    border-radius: 3px;
}

#middleButton2 {
    background-color: #eaeaea;
    border: none;

}